.root {
  label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
    color: black;
  }

  input,
  textarea {
    display: block;
    border: 2px solid #999;
    border-radius: 3px;
    padding: 0 5px;
    height: 36px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 4px;
  }

  textarea {
    height: 100px;
  }
}

.help {
  color: #999;
  display: block;
}
