.root {
  text-align: center;
  padding: 5px;
}

.header {
  margin-bottom: 50px;
}

.files {
  .file {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin: 10px auto 30px auto;
    position: relative;

    .fileDetails {
      max-width: 400px;
      margin: auto;

      .preview {
        margin-bottom: 10px;
        border-radius: 3px;
      }
    }

    h2 {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #666;
    }
  }
}

.files {
  background: rgb(195, 255, 198);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  max-width: 400px;

  img {
    width: 100%;
  }
}

.upload {
}

.done {
}
