.root {
  label {
    position: relative;
  }

  input {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  button {
    margin-left: 1rem;
  }
}
