.root {
  text-align: center;
  padding: 5px;
}

.email {
  max-width: 400px;
  margin: 0 auto 50px auto;
}

.pictures {
  p {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
  }
}

.header {
  margin-bottom: 50px;

  h1 {
    font-size: 28px;
    color: rgb(228, 91, 0);
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  p {
    color: #666;
    padding: 0;
    margin: 0;
  }
}

.logo {
  display: block;
  margin: 10px auto 2px auto;
  max-width: 150px;
}
